sudo: required
services:
  - docker

before_install:
  - docker build --tag erfanrider/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run --env=CI=TRUE erfanrider/react-test npm run test --covergage

after_success:
  - docker build --tag erfanrider/client -f ./client/Dockerfile.prod ./client
  - docker build --tag erfanrider/api -f ./server/Dockerfile.prod ./server
  - docker build --tag erfanrider/worker -f ./worker/Dockerfile.prod ./worker
  - docker build --tag erfanrider/nginx -f ./nginx/Dockerfile.prod ./nginx

  ### Docker Login to push the images to the hub
  - docker login --username $DOCKER_ID --password $DOCKER_PASS

  ### Start to push the images
  - docker push erfanrider/client
  - docker push erfanrider/api
  - docker push erfanrider/worker
  - docker push erfanrider/nginx
