sudo: required
services:
  - docker

before_install:
  - docker build -t erfanrider/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run --env=CI=TRUE erfanrider/react-test npm run test --covergage

after_success:
  - docker build -t erfanrider/client -f ./client/Dockerfile.prod ./client
  - docker build -t erfanrider/api -f ./server/Dockerfile.prod ./server
  - docker build -t erfanrider/worker -f ./worker/Dockerfile.prod ./worker
  - docker build -t erfanrider/nginx -f ./nginx/Dockerfile.prod ./nginx

  ### Docker Login to push the images to the hub
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

  ### Start to push the images
  - docker push erfanrider/client
  - docker push erfanrider/api
  - docker push erfanrider/worker
  - docker push erfanrider/nginx

deploy:
  provider: elasticbeanstalk
  region: eu-central-1
  app: Multi-containers
  env: Multicontainers-env
  bucket_name: elasticbeanstalk-eu-central-1-125452481565
  bucket_path: multi-docker
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
  on:
    branch: master
