version: '3.8'
services:
  nginx:
    # container_name: nginx-container
    image: erfanrider/nginx
    hostname: nginx  
    deploy:
      resources:
        limits:
          memory: 128mb
    ports:
      - 80:80
  server:
    # container_name: api-container
    image: erfanrider/api
    environment:
      - REDIS_HOST=$REDIS_HOST
      - REDIS_PORT=$REDIS_PORT
      - PGHOST=$PGHOST
      - PGDATABASE=$PGDATABASE
      - PGUSER=$PGUSER
      - PGPASSWORD=$PGPASSWORD
      - PGPORT=$PGPORT
    hostname: api
    deploy:
      resources:
        limits:
          memory: 128mb
  client:
    # container_name: client-container
    image: erfanrider/client
    hostname: client
    deploy:
      resources:
        limits:
          memory: 128mb
  worker:
    # container_name: worker-container
    image: erfanrider/worker
    environment:
      - REDIS_HOST=$REDIS_HOST
    hostname: worker
    deploy:
      resources:
        limits:
          memory: 128mb